* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #2B2C28;
}

.header {
  background: #7DE2D1;
  height: 250px;
display: inline;
padding-left: 50px;
}

.header h1 {
  margin: 0;
  padding-left: 50px;
  text-align: center;
  color: #2B2C28;
  font-size: 3rem;
  display: inline;
}

.profilephoto {
display: inline;
  border-radius: 100px;
  border: solid 3px #2B2C28;
  margin-top: 20px;
}

.header h3 {
padding-left: 20px;
  display: inline;
  
}

html, body {
  margin: 0;
  padding: 0;
}  

ul {
  margin-bottom: 15px;
}

.full {
  min-height: calc(100vh - 90px);
}

.headerStuff {
  display: inline;
}