.projectBlock {
    display: flex;
    flex-direction: row;

}

.projectImage {
    width: 500px;
    border: solid 3px #2B2C28;
    display: inline;
    padding: 20px;
}

.backdrop:hover >
.projectImage {width: 700px;

}

.projectName:hover + .projectImage { color: #7DE2D1; }
    

