.projectBlock {
    display: flex;
    flex-direction: row;
    margin: 25px;

}

.projectImage {
    width: 500px;
    border: solid 3px #2B2C28;
    display: inline;
}

h2, h3, h4, p {
    margin: 15px;
}
